<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Silahkan isi form dibawh ini untuk mendaftar</h1>
    <form action="/registrasi" method="post">
    <div>
        <input type="text" name="nama" placeholder="Nama" required>
    </div>
    <div>
        <input type="text" name="email" placeholder="Email" required>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <button>registrasi</button>
</form>
</body>
</html>
</body>
</html>