<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <form action="/edit/<%= user.id %>" method="post">
        <div><span>Email :</span><input type="email" name="email" value="<%= user.email %>"></div>
        <div><span>Password :</span><input type="password" name="password" value="<%= user.password %>"></div>
        <div><button>Change</button></div>
    </form>
    </body>
</body>
</html>